{
  "openapi": "3.0.0",
  "info": {
    "title": "EventHub API",
    "version": "1.0.0",
    "description": "REST API for the EventHub ticket booking platform.\n\nAll event and booking operations are available here. Booking creation is atomic — seats are decremented in the same database transaction.",
    "contact": {
      "name": "EventHub Support"
    }
  },
  "servers": [
    {
      "url": "https://api.eventhub.rahulshettyacademy.com/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/api",
      "description": "Development server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication — register, login, and token validation"
    },
    {
      "name": "Events",
      "description": "Event management — CRUD operations"
    },
    {
      "name": "Bookings",
      "description": "Ticket booking — create, view, and cancel bookings"
    },
    {
      "name": "Health",
      "description": "API health check"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "description": "Creates a new user account and returns a JWT token. Each registered user gets a fully isolated sandbox — events and bookings are private to their account.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid email format or password too short, or email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Validation failed"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "example": "email"
                          },
                          "message": {
                            "type": "string",
                            "example": "A valid email is required"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Log in with existing credentials",
        "description": "Authenticates a user and returns a JWT token. Store the token and send it as a Bearer token in the Authorization header on all subsequent requests.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Wrong password or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No account found for this email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "User not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Get the currently authenticated user",
        "description": "Validates the bearer token and returns the decoded user identity. Useful for verifying a token is still valid.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid — returns user identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "get": {
        "summary": "List all bookings",
        "description": "Returns a paginated list of all bookings, each including full event details.",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "integer"
            },
            "description": "Filter bookings by event ID",
            "example": 1
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "confirmed",
                "cancelled"
              ]
            },
            "description": "Filter by booking status",
            "example": "confirmed"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of bookings per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Booking"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a booking (buy tickets)",
        "description": "Books tickets for an event. The service will:\n1. Verify the event exists\n2. Check sufficient seats are available\n3. Calculate the total price\n4. Generate a unique booking reference (EVT-XXXXXX)\n5. Atomically create the booking and decrement available seats\n",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingInput"
              },
              "example": {
                "eventId": 1,
                "customerName": "Priya Sharma",
                "customerEmail": "priya.sharma@email.com",
                "customerPhone": "+91-9876543210",
                "quantity": 2
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    },
                    "message": {
                      "type": "string",
                      "example": "Booking confirmed!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or insufficient seats",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationErrorResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "validation": {
                    "summary": "Validation failed",
                    "value": {
                      "success": false,
                      "error": "Validation failed",
                      "details": [
                        {
                          "field": "quantity",
                          "message": "Quantity must be an integer between 1 and 10"
                        }
                      ]
                    }
                  },
                  "noSeats": {
                    "summary": "Insufficient seats",
                    "value": {
                      "success": false,
                      "error": "Only 1 seat(s) available, but 3 requested"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/ref/{ref}": {
      "get": {
        "summary": "Look up a booking by reference code",
        "description": "Retrieves a booking using the unique booking reference (e.g. EVT-A1B2C3).",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ref",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Booking reference code",
            "example": "EVT-A1B2C3"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Booking not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Booking with reference \"EVT-XYZ123\" not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "summary": "Get a single booking by ID",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric booking ID",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Booking found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Booking"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Booking not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel a booking",
        "description": "Cancels (permanently deletes) a booking and atomically restores the\nreleased seats back to the event's `availableSeats` count.\n",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the booking to cancel",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Booking cancelled and seats restored",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Booking cancelled"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Booking not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "summary": "List all events",
        "description": "Returns a paginated list of events. Supports filtering by category, city, and free-text search.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "Conference",
                "Concert",
                "Sports",
                "Workshop",
                "Festival"
              ]
            },
            "description": "Filter events by category",
            "example": "Conference"
          },
          {
            "in": "query",
            "name": "city",
            "schema": {
              "type": "string"
            },
            "description": "Filter events by city",
            "example": "Bangalore"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search events by title, description, or venue",
            "example": "summit"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of events per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new event",
        "description": "Creates an event. `availableSeats` is automatically set equal to `totalSeats`.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventInput"
              },
              "example": {
                "title": "Tech Summit 2026",
                "description": "A premier technology conference.",
                "category": "Conference",
                "venue": "Bangalore International Centre",
                "city": "Bangalore",
                "eventDate": "2026-06-15T09:00:00.000Z",
                "price": 1500,
                "totalSeats": 500,
                "imageUrl": "https://example.com/banner.jpg"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    },
                    "message": {
                      "type": "string",
                      "example": "Event created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "summary": "Get a single event by ID",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the event",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Event found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Event with id 99 not found"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the event to update",
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    },
                    "message": {
                      "type": "string",
                      "example": "Event updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an event",
        "description": "Permanently deletes an event and all associated bookings (cascade).",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the event to delete",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Event deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Event deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Event not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "API health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "API is running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dbStatus": {
                      "type": "string",
                      "example": "connected"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/config": {
      "get": {
        "summary": "Get public feature flags",
        "tags": [
          "Config"
        ],
        "responses": {
          "200": {
            "description": "Feature flag values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "showExploreLinks": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AuthInput": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "student@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "example": "secret123"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "token": {
            "type": "string",
            "description": "JWT bearer token — valid for 7 days. Pass as Authorization header on all protected routes.",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "example": 42
              },
              "email": {
                "type": "string",
                "example": "student@example.com"
              }
            }
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "integer",
                "example": 42
              },
              "email": {
                "type": "string",
                "example": "student@example.com"
              }
            }
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "eventId": {
            "type": "integer",
            "example": 3
          },
          "customerName": {
            "type": "string",
            "example": "Priya Sharma"
          },
          "customerEmail": {
            "type": "string",
            "example": "priya.sharma@email.com"
          },
          "customerPhone": {
            "type": "string",
            "example": "+91-9876543210"
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "totalPrice": {
            "type": "number",
            "format": "float",
            "example": 3000
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "cancelled"
            ],
            "example": "confirmed"
          },
          "bookingRef": {
            "type": "string",
            "example": "EVT-A1B2C3"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "event": {
            "$ref": "#/components/schemas/Event"
          }
        }
      },
      "CreateBookingInput": {
        "type": "object",
        "required": [
          "eventId",
          "customerName",
          "customerEmail",
          "customerPhone",
          "quantity"
        ],
        "properties": {
          "eventId": {
            "type": "integer",
            "example": 1
          },
          "customerName": {
            "type": "string",
            "minLength": 2,
            "example": "Priya Sharma"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "example": "priya.sharma@email.com"
          },
          "customerPhone": {
            "type": "string",
            "minLength": 10,
            "example": "+91-9876543210"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "example": 2
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "Tech Summit 2026"
          },
          "description": {
            "type": "string",
            "example": "A premier technology conference bringing together industry leaders."
          },
          "category": {
            "type": "string",
            "example": "Conference"
          },
          "venue": {
            "type": "string",
            "example": "Bangalore International Centre"
          },
          "city": {
            "type": "string",
            "example": "Bangalore"
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-15T09:00:00.000Z"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 1500
          },
          "totalSeats": {
            "type": "integer",
            "example": 500
          },
          "availableSeats": {
            "type": "integer",
            "example": 342
          },
          "imageUrl": {
            "type": "string",
            "nullable": true,
            "example": "https://example.com/images/tech-summit.jpg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateEventInput": {
        "type": "object",
        "required": [
          "title",
          "category",
          "venue",
          "city",
          "eventDate",
          "price",
          "totalSeats"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Tech Summit 2026"
          },
          "description": {
            "type": "string",
            "example": "A premier technology conference."
          },
          "category": {
            "type": "string",
            "example": "Conference"
          },
          "venue": {
            "type": "string",
            "example": "Bangalore International Centre"
          },
          "city": {
            "type": "string",
            "example": "Bangalore"
          },
          "eventDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-15T09:00:00.000Z"
          },
          "price": {
            "type": "number",
            "example": 1500
          },
          "totalSeats": {
            "type": "integer",
            "example": 500
          },
          "imageUrl": {
            "type": "string",
            "example": "https://example.com/banner.jpg"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "example": 48
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 10
          },
          "totalPages": {
            "type": "integer",
            "example": 5
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Resource not found"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Validation failed"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}